<h1>Index Page</h1>
<h1>List of all <%= @users.count%> Users </h1>

<table border=1 >
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Description</th>
    <th>Age</th>
    <th>City</th>
    <th>Zipcode</th>
  </tr>
<% @users.each do |data| %>
  <tr>
    <td><%= data.first_name %></td>
    <td><%= data.last_name %></td>
    <td><%= data.description %></td>
    <td><%= data.age %></td>
    <td><%= data.city %></td>
    <td><%= data.zipcode %></td>
  </tr>
<% end %>
</table>
<br/>
<%= link_to "New User Page", new_user_path %>
