<h1>New Page</h1>
<h2>Please enter your details...</h2>
<hr>
<%= simple_form_for @user do |f| -%>
  First Name: <%= f.text_field :first_name %><br/><br/>
  Last Name: <%= f.text_field :last_name %><br/><br/>
  Description: <%= f.text_field :description %><br/><br/>
  Age: <%= f.text_field :age %><br/><br/>
  City: <%= f.text_field :city %><br/><br/>
  Zipcode: <%= f.text_field :zipcode %><br/><br/>
          <%= f.submit %><br/><br/>
<% end -%>
